<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-click="reset()">Reset</a></li>
    <li><a ng-click="viewSource()">View source</a></li>
  </ul>
  <h3 class="text-muted">wallet</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Wallet app
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Start spending!</a></p>
</div>

<div class="row">
<div class="col-md-4">
  <input type="text" ng-model="amount" />
  <button class="btn btn-success" ng-click="add(amount)">Add</button>
</div>
<div class="col-md-4">
  <transactions transactions="transactions"></transactions>
</div>
<div class="col-md-4">
  <input type="text" ng-model="amount" />
  <button class="btn btn-danger" ng-click="remove(amount)">Remove</button>
</div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
