<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-click="reset()">Reset</a></li>
    <li><a ng-click="viewSource()">View source</a></li>
  </ul>
  <h3 class="text-muted">wallet</h3>
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Wallet app
  </p>
</div>

<div class="col-md-offset-4">
  <h2>Exchange rates today:</h2>
  <div ng-repeat="exchangeRate in exchangeRates" class="row">
    <div class="col-md-4">
      <span>{{ exchangeRate.currency }}: {{ exchangeRate.value }}</span>
    </div>
    <div class="col-md-4">
      <button class="btn btn-default" ng-click="convert(exchangeRate)">To {{ exchangeRate.currency }}</button>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-4">
  <form name="formAdd" novalidate>
    <input ng-model="amountAdd" type="number" min="0" name="inputAdd" required />
    <button ng-disabled="formAdd.$invalid" class="btn btn-success" ng-click="add(amountAdd)">Add</button>
    <span class="error" ng-show="formAdd.inputAdd.$error.number">Not a valid number</span>
    <span class="error" ng-show="formAdd.inputAdd.$error.min">Cannot add a negative amount</span>
  </form>
</div>
<div class="col-md-4">
  <transactions transactions="transactions" balance="balance" currency="exchangeRate.currency"></transactions>
</div>
<div class="col-md-4">
  <form name="formRemove" novalidate>
    <input ng-model="amountRemove" type="number" min="0" name="inputRemove" required />
    <button ng-disabled="formRemove.$invalid" class="btn btn-danger" ng-click="remove(amountRemove)">Remove</button>
    <span class="error" ng-show="formRemove.inputRemove.$error.number">Not a valid number</span>
    <span class="error" ng-show="formRemove.inputRemove.$error.min">Cannot remove a negative amount</span>
    <span class="error" ng-show="balance - amountRemove < 0">You don't have the money!</span>
  </form>
</div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
