<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Wallet</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-click="reset()">Reset</a></li>
        <li><a onclick="window.location='view-source:' + window.location.href">View source</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Wallet app
  </p>
</div>

<div class="col-md-offset-4">
  <h2>Exchange rates today:</h2>
  <div ng-repeat="exchangeRate in exchangeRates" class="row">
    <div class="col-md-4">
      <span>{{ exchangeRate.currency }}: {{ exchangeRate.value }}</span>
    </div>
    <div class="col-md-4">
      <button class="btn btn-default" ng-click="convert(exchangeRate)">To {{ exchangeRate.currency }}</button>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-4">
  <form name="formAdd" novalidate>
    <input ng-model="amountAdd" type="number" min="0" name="inputAdd" required />
    <button ng-disabled="formAdd.$invalid" class="btn btn-success" ng-click="add(amountAdd)">Add</button>
    <span class="error" ng-show="formAdd.inputAdd.$error.number">Not a valid number</span>
    <span class="error" ng-show="formAdd.inputAdd.$error.min">Cannot add a negative amount</span>
  </form>
</div>
<div class="col-md-4">
  <transactions transactions="transactions" balance="balance" currency="exchangeRate.currency"></transactions>
</div>
<div class="col-md-4">
  <form name="formRemove" novalidate>
    <input ng-model="amountRemove" type="number" min="0" name="inputRemove" required />
    <button ng-disabled="formRemove.$invalid" class="btn btn-danger" ng-click="remove(amountRemove)">Remove</button>
    <span class="error" ng-show="formRemove.inputRemove.$error.number">Not a valid number</span>
    <span class="error" ng-show="formRemove.inputRemove.$error.min">Cannot remove a negative amount</span>
    <span class="error" ng-show="balance - amountRemove < 0">You don't have the money!</span>
  </form>
</div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
